
.header {
 
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: none;
}
.menu a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    font-size: 18px;
  
}
.menu >li>a:hover {
    background-color: gray;
    border-radius: 10px;
}

.menu >li {
    float: left;
    position: relative;
    margin-top: 2rem;
    margin-left: 2rem;
}
.menu ul {
    visibility: hidden;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: all 0,5s ease-in-out;

}

.menu ul ul {
    visibility: hidden;
    top :0 ;
    left: 100%;
    opacity: 0;
    transition: all 0,5s ease-in-out;
}
.menu li:hover> ul {

    visibility:visible;
    opacity: 1;
}



  





.slider {
    
    width: 80%;
    margin: auto;
}
.img {
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}
img {
    width: 100%;
}
input{
    display: none;
}
.label {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.label label{
    
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid red;
    margin-left: 1%;
}
.label label:hover {
    background-color: red;
}
#img1:checked ~#img1 {
    margin-left: -100%;
}

#img2:checked ~#img2 {
    margin-left: -200%;
}








/*  page4*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Roboto&display=swap');
.container {
 
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 3rem auto;
    
}
h2{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 2rem;
}
ul{
    list-style-type: none ;
}
.sub-service {
    width: 25% ;
}

.sub-service li {
    margin-top: 1rem;
    
}
.sub-service li >a {
    color: black;
    font-size: 13px;

}
.box1 {
    background-color: pink;
    width: 100%;
    height: 285px;
    border-radius:15px ;
    margin-bottom: 20px;

}
.box2 {
    background-color: red;
    width: 100%;
    height: 285px;
    border-radius: 15px ;
    margin-bottom: 20px;
}
.box3 {
    background-color: aqua;
    width: 100%;
    height: 285px;
    border-radius:15px ;
    margin-bottom: 20px;
}






.solution ul {
    padding-top: 30px;
    list-style-type: none;
    padding-left: 0px;
}
.solution a{
    color:black ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
button:active, button:focus{
    background-color: red;
}
button:active >a, button:focus >a {
    color: white
}

.solution  {
    
    display: flex;
    width: 75%;
    margin: auto;
}
.solution-button{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width:30%;
}
.solution-button button {
    width: 90%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.solution-title {
    border-radius: 10px;
    display: flex;
    background-color: #f5f5f5;
    width: 70%;
}
.solution-title-img img  {
    width: 250px;
    height: 350px;
}
.solution-title-sub {
    width: 60%;
}
.solution li {
    background-image: url(picture/icon.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.solution p {
    font-weight: 300;
}


.project {
    width:75%;
    margin:auto
}
.project ul {
    margin-bottom: 1.5rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.project li {
    background-image: url(picture/icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 25px;
    float: left;
    background-color: #f5f5f5 ;
    border-radius: 8px;
}
.project li a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.project li:hover a {
    background-color: pink;
    border-radius:10px ;
    
} 


.brand-design {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.brand-design > div  {
     width: 30%;
}
.box {
    width: 100%;
    height: 17rem;
    background-color: pink;
    border-radius: 8px;
}
.brand-design  p {
    display:block;
   
}
.brand {
    font-size: 25px;
    margin: 10px 0 10px ;
}
.brand2 {
    font-size: 18px;
    margin-top: 10px  ;
}
